body {
  background: #2D2D2D;
  
  
  color: white;
  font-family: "doodle.woff2", sans-serif;
}
:root{
  --main-color: aqua;
}

/* нельзя задавать жесткую ширину телу, тело должно растягиваться */

@font-face {
  font-family: "doodle.woff2";
  src: local("doodle.woff2"),
  url("doodle.woff2") format("woff2");
}

/* doodle существует чисто для работы сборщика, не переименовывать шрифты в него, также принято подключения именть в начале */
.content {
  margin: auto;
  justify-content: center;

  width: 1500px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.head-fuelwell {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 10px;
  border-bottom: 1px #575555 solid;
  margin-bottom: 50px;
}

.nav-class {
  display: flex;
  list-style-type: none;


}

.help-block {
  padding: 0;
  column-count: 2;
}
.circle:nth-child(4){
  padding: 20px 0 0 ;
}
.h3 {
  width: 500px;
}

.left-rigth-center {
  margin: 0 10%;
}

.li {
  margin-right: 30px;
  font-size: 20px;
  color: white;
}
.a{
  color: white;
  text-decoration: none;
  
}
.a:hover{
  color:var(--main-color);
}



li:hover {
  color: #154088;
}

.rovno {
  height: 114px;
  width: 114px;
}

.img-header {
  background-color: #00D5E4;
  max-width: 100px;

  background: url(https://static.tildacdn.com/tild3664-6137-4434-a261-306562623239/___5.png);
}

.fl {
  filter: invert(1);
}

.blue-text-hr-center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 60px;
}
.blue-a-button::after{
  content: "→";
}
.text1 {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
  margin-top: 60px;

}



.ultra-h3 {
  font-size: 50px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.h1 {
  margin-right: 80px;

  margin: 0px;
  /* margin-top: 0px; */
  width: 40%;
}

.second-text1 {
  right: 0;
  bottom: 0;
  font-size: 24px;
  align-items: center;
  margin: 0px;
  /* text-align: -webkit-right; */
  display: flex;
  align-items: flex-end;
  width: 600px;
  text-align: end;

}

.blue-p {
  color: var(--main-color);
}

.blue-span {
  color: var(--main-color);
  font-size: 35px;
  font-weight: 900;
}

.blue-a {
  color: var(--main-color);
  padding: 10px;
  border-bottom: 2px var(--main-color) solid;
  border-top: 2px var(--main-color) solid;
}
.blue-a-r{
  
  padding: 10px;
  border-bottom: 2px var(--main-color) solid;
  border-top: 2px var(--main-color) solid;
}
.blue-a-r::after{
  content: "→";
}
.blue-a-r:hover{
  color:var(--main-color);
}
.blue-a-button{
  color:white;
  padding: 10px;
  border-bottom: 2px var(--main-color) solid;
  border-top: 2px var(--main-color) solid;
  background: transparent;
}

button:hover{
  color:#00D5E4;
}
button:active{
  background-color: #333;
  color: #eee;
}
button:focus{
  color:darkblue;
}
button{
  transition: 1s;
}


.blue-a2:hover {
  color: var(--main-color);
}
.blue-a2 {
  padding: 12px;
  border-bottom: 2px var(--main-color) solid;
  border-top: 2px var(--main-color) solid;
  font-size: 25px;
  text-transform: lowercase;
  margin-top: 15px;
  transition: 1s;
}
.blue-p3 {
  margin-top: 50px;
}

.save-fivek {
  position: absolute;
  margin: auto;
  left: 45%;
  
}

.img-main2 {
  /* img */
  margin: auto;
}

.blue-a:hover {
  color: #154088;

}

.section2-text {
  width: 650px;
  text-align: center;
  font-size: 35px;
  align-items: center;
  margin: auto;
}

.h2 {
  font-size: 35px;
  text-transform: uppercase;
}


.blue-line {
  border: 1px solid #00D5E4;

}

.circle {
  display: flex;
  transition: 1s;
}

.circle:hover {
  
  color: var(--main-color);
}

.p-image-display {
  padding: 20px;
  font-size: 20px;
  width: 230px;
}

.global-display-4circle-and-img {
  display: flex;

}

li{
  transition: 1s;
}
a{
  transition: 1s;
}
input{
  transition: 1s;
}
.first-second {
  display: flex;
}

.Find-out {
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
}

.shadow-block {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 400px;
  margin-bottom: 100px;
}

.display-input {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}

.display-input-text {

  font-size: 20px;
  width: 250px;
}

.display-input-text:nth-child(1n+2) {
  padding-left: 15px;
}

.loader{
  display: flex;
  justify-content: center;
  
}
.loader:hover{
  visibility: hidden;
  
}
.display-input-text:hover {
  color: #00D5E4;
}

.input-text {
  height: 50px;
  /* Не стоит, инпут формируется из паддингов */
  margin-top: 10px;
}

.display-input-text-blue {
  margin-left: 10px;
  font-size: 20px;
  color: #00D5E4;
}

.input-text-blue {
  height: 50px;
  /* размер инпута формируется из паддингов */
  color: #00D5E4;
  border: 5px solid #08D1FF;
}

.blue-line2 {
  border: 1px solid #00D5E4;
  width: 150px;


}

.absolut-text-image {
  position: absolute;
  width: 100%;
  left: 0;

}

.text1-image {
  text-transform: uppercase;
  font-size: 24px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 30%;
  height: 250px;
  margin: 10px;

}


.text1-image2-1{
  text-transform: uppercase;
  font-size: 24px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.text1-image2-2{
  text-transform: uppercase;
  font-size: 24px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 50px 30px 50px 30px ;
}

.text1-image2-3{

  text-transform: uppercase;
  font-size: 24px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 50px 30px 50px 30px ;
}
.additional {
  margin: auto;
  margin-left: 0;
  font-size: 50px;
}

.text1-image-not-shadow {
  text-transform: uppercase;
  font-size: 24px;
  width: 30%;
  padding: 10px;
  margin: 10px;
  height: 250px;
  display: flex;
}

.class-absolut-bottom {
  display: flex;
}

.text1-image {
  padding: 10px;
}

.p-lower2 {
  text-transform: lowercase;
  width: 280px;
}

.p-lower2 {
  text-transform: lowercase;
  width: 420px;
  font-size: 27px;
}

.bottom-margin {
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 450px;
  list-style-type: none;
}

.black-backround {
  position: absolute;
  background-color: #0C0A0A;
  display: flex;
  width: 1520px;
  left: 0;
  padding: 50px 200px 50px 200px;
  
}


.upper-h3 {
  text-transform: uppercase;
  font-size: 40px;
  width: 800px;
}

.text-black-fon {
  margin-left: auto;
  margin-top: 150px;
  
}

.margin-bot-p {
  margin-bottom: 50px;
}

.exit-abroad {
  margin-top: 1150px;
  position: relative;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.img-strelki {
  display: grid;
  align-items: center;


}

.blue-p-upper {
  color: var(--main-color);
  text-transform: uppercase;
}

.car-image-3 {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.car-image-3-1 {
  width: 33.3%;
}

.car-image-3-2 {
  width: 33.3%;
}

.car-image-3-3 {
  width: 33.3%;
}



.round-strelka1 {
  width: 500px;
  text-align: right;
}

.display-c-strelkoy {
  display: flex;
  align-items: end;

  width: 1000px;

}

.strelka-round2-step3 {
  display: flex;
  margin-left: 417px;

}

.strelka-round2 {
  display: flex;
  align-items: end;
}

.display-c-strelkoy1 {
  display: flex;
  margin-bottom: 100px;
}

.blue-p-upper2 {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 40px;
}

.black-fon {
  position: absolute;
  background-color: #0C0A0A;
  
  left:0;
  right:0;
  
  padding: 50px 210px 50px 210px;
}

.text-footer {
  margin-top: 20px;
}

.bloks-3-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px #636161 solid;
  padding-bottom: 10px;
}

.social-footer {
  margin: auto;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.footer-fuelwell {
  font-size: 13px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.last-end-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}

input:hover {
  color: #00D5E4;
  border: 3px solid #08D1FF;
}

.img-padding {
  padding: 5px;
}

.img-padding:hover {
  background: #154088;
}


.block012345 {
  display: flex;
  border-bottom: 1px #575555 solid;
  margin: auto;
}

ol {
  list-style-type: none;
  counter-reset: num;
  margin: 0 0 0 60px;
  padding: 15px 0 5px 0;
  font-size: 16px;
}

ol li {

  margin: 0 0 0 0;
  padding: 0 0 10px 0;

}

.olli {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
}

ol li:before {
  content: "0" counter(num);
  counter-increment: num;
  display: inline-block;
  color: var(--main-color);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  max-height: 44.5px;
  /* Не стоит ограничивать элементы списка по высоте - будет вываливаться контент */
  margin-top: 20px;
}

.img-numbers {
  width: 50px;
  height: 30px;
  text-align: center;
}

.p- {
  height: 30px;
  margin: 25px 0 25px 0;
}

.img-strelki {
  display: flex;
  justify-content: space-between;

}

.strelka-left {
  margin-right: 5px;
}

.blue-a-a:hover {
  background: #00D5E4;
}
.blue-a-a{
  background: transparent;
}



.all-footer-email {
  flex-direction: column;
  padding-left: 52.44px;
}

.a-last {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 5px;

}

.a-last-last {
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}

.a-last:hover {
  color: var(--main-color);
}

.blue-p1 {
  color: var(--main-color);;
  margin-top: 6px;
  margin-bottom: 0px;
  width: 143px;

}






/* FORM */


.h1-reg{
  font-size: 30px;
}
.form-control{
  height: 35px;
  margin-bottom:10px;
}

.form-floating{
  display: flex;
  flex-direction: column-reverse;
}

.reg-button {
  height: 40px;
  color: white;
  background-color: grey; 
  margin-right: 10px;
  width: 25%;
}

.res-button {
  height: 40px;
  color: white;
  background-color: orange;
  width: 25%;
}
.label-reg {
  margin-left: 10px;
}
.form-button-set{
  display:flex;
  margin: 10px 0 10px 0;
  justify-content: center;
}
.form-control:focus {
  outline: 2px solid #d71ef7;
}
.abc{
  padding-bottom: 10px;
}
.fieldset-flex{
  display:flex;
}
.fieldset1{
  width:100%;
}
.fieldset2{
  width:100%;
}
.form-control1{
  height: 35px;
  margin-bottom:10px;
  border: 5px orange solid;
}
.form-control1:hover{
  border: 5px purple solid;
}
.form-control1:focus{
  outline: 2px solid #d71ef7;
}





/* FORM2 */

dt{
  text-transform: uppercase;
}

dt::first-letter {
  font-size: 3em; /* Размер буквы */
  color: red; /* Цвет буквы */
   /* Выравнивание по левому краю */
  padding: 0 5px 10px 0; /* Отступы вокруг буквы */

}
dd::before{
  padding-right: 10px;
  content: "🛈";
}

.legend-form2{
  font-size: 40px;
}
.registration1{
  margin:50px 0 50px 0 ;
}

.dd2{
  text-decoration: line-through;
}
.list-pseudoelements{
  margin-top: 10px;
  list-style-type: none;
}

.list-pseudoclasses{
  margin-top: 10px;
  list-style-type: none;
}

.even-odd:nth-child(odd) {
  color: rgb(85, 90, 239); /* Цвет фона */
} 
.even-odd:nth-child(even) {
  color: rgb(108, 134, 124); /* Цвет фона */
} 

.input:focus + label {
  color: red;

}
.select:focus + label {
  color: red;

}


  input[type=checkbox]:checked + label{
    text-decoration: line-through;
  }

  ::selection {
    color: blue;
  background: white;
  }
